.todo-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;

    .input-container {
        position: relative;
        width: calc(100% - 80px);
        height: 100%;
        background: (#fff, #fff) padding-box, linear-gradient(170deg, #3377fe, #4c6fff, #8370ff, #ba59ff) border-box;

        // &::before {
        //     content: "";
        //     filter: blur(2px);
        //     position: absolute;
        //     inset: -1px;
        //     border-radius: 14px;

        //     background: conic-gradient(from 230deg,
        //             light-dark(rgba(52, 107, 241, 0), hsla(0, 0%, 91%, 0)),
        //             light-dark(rgba(52, 107, 241, .4), hsla(0, 0%, 91%, .2)),
        //             light-dark(rgba(52, 107, 241, .6), hsla(0, 0%, 91%, .4)),
        //             light-dark(rgba(52, 107, 241, .4), hsla(0, 0%, 91%, .2)),
        //             light-dark(rgba(52, 107, 241, 0), hsla(0, 0%, 91%, 0)) 70%);
        //     animation: rotate-gradient 4s linear infinite;
        //     animation-fill-mode: both;
        // }

        .input-sample {
            padding: 8px;
            width: 100%;
            height: 100%;

        }
    }

    button {
        width: 70px;
        height: 100%;
        border-radius: 12px;
        color: var(--color-card);
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        background: linear-gradient(136deg, #286aff, #4e6ef2, #7274f9, #9f66ff);
        border-width: 0;

    }

}