.top-container {
    width: 100%;
    height: 48px;
    // background: linear-gradient(136deg, #286aff, #4e6ef2, #7274f9, #9f66ff);
    background: light-dark(rgba(252, 252, 252, 0.3), rgba(25, 25, 25, 0.3));
    backdrop-filter: blur(2px);
    color: #1b1c1d;
    color: var(--color-background);
    display: flex;
    align-items: center;
    padding: 0 16px 0 24px;

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;

        .icon-content {
            height: 36px;
        }

        .text-content {
            font-size: var(--font-size-xl);
            margin-left: 5px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            // background-image: linear-gradient(90deg, #3186ff 0, #346bf1 50%, #4fa0ff 100%);
        }
    }

}