@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;

  &:not(.fluid) {
    max-width: $max-width;
  }

  &.padding-sm {
    padding: $spacing-sm;
  }

  &.padding-md {
    padding: $spacing-md;
  }

  &.padding-lg {
    padding: $spacing-lg;
  }

  &.padding-none {
    padding: 0;
  }
}
